/* fix of Internet Explorer 10 in Windows 8 and Windows Phone 8*/
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/* fix of Internet Explorer 10 in Windows 8 and Windows Phone 8*/
/* fix of table fieldset in Forefox*/
@-moz-document url-prefix() {
  /* line 26, D:/learn_HTML/projects/Kseniya/fortit/sass/common */
  fieldset {
    display: table-cell; } }

/* fix of table fieldset in Forefox*/
/* Open-sans-light */
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/openSansLight/open-sans-light.eot');
  src: url('../fonts/openSansLight/open-sans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/openSansLight/open-sans-light.woff2') format('woff2'), url('../fonts/openSansLight/open-sans-light.woff') format('woff'), url('../fonts/openSansLight/open-sans-light.ttf') format('truetype'), url('../fonts/openSansLight/open-sans-light.svg#open_sanslight') format('svg');
  font-weight: 100;
  font-style: normal; }

/* Open-sans-bold */
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/openSansBold/open-sans-bold-webfont.eot');
  src: url('../fonts/openSansBold/open-sans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/openSansBold/open-sans-bold-webfont.woff2') format('woff2'), url('../fonts/openSansBold/open-sans-bold-webfont.woff') format('woff'), url('../fonts/openSansBold/open-sans-bold-webfont.ttf') format('truetype'), url('../fonts/openSansBold/open-sans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* line 63, D:/learn_HTML/projects/Kseniya/fortit/sass/common */
body {
  background-color: #ccc; }

/* line 68, D:/learn_HTML/projects/Kseniya/fortit/sass/common */
div {
  outline: 2px dotted red; }

/* line 1, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.wrapHeader {
  background-color: #fff;
  background-image: url(../img/header__bg.jpg);
  background-position: 0 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 70px; }

/* line 15, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 48px; }
/* line 26, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.nav__item {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  outline: 1px solid red;
  text-decoration: none; }
/* line 33, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.nav__link {
  color: #fff; }
/* line 36, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.nav__link:hover {
  color: #999;
  text-decoration: none;
  text-shadow: #fff 0.5px 0px, #fff 0.5px 0.5px, #fff 0px 0.5px, #fff -0.5px 0.5px, #fff -0.5px 0px, #fff -0.5px -0.5px, #fff 0px -0.5px, #fff 0.5px -0.5px; }

/* line 43, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.calling {
  float: right;
  font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  color: #fff; }
  /* line 50, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .calling__russia {
    display: block; }
  /* line 53, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .calling__number {
    display: block;
    font-family: "open_sansbold", "Tahoma", "Geneva", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold; }
  /* line 60, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .calling__toOrder {
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100;
    color: #fff;
    background: none;
    text-decoration: underline;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    border: none;
    padding: 0;
    margin: 0; }
  /* line 73, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .calling__toOrder:hover {
    color: #999;
    text-decoration: none; }

/* line 79, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.headLines {
  padding-top: 40px;
  padding-bottom: 50px;
  color: #fff; }
  /* line 83, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .headLines__main {
    font-family: "open_sansbold", "Tahoma", "Geneva", sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    letter-spacing: -0.025em; }
  /* line 93, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .headLines__discount {
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.025em;
    padding: 0;
    margin: 0; }

/* line 104, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.intro {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgba(0, 0, 0, 0.4); }
  /* line 110, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .intro__video {
    display: block;
    width: 100%;
    min-height: 340px;
    border: none;
    margin: 0;
    padding: 0; }

/* line 120, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
.request {
  padding-left: 70px;
  padding-right: 30px; }
  /* line 123, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__title {
    color: #fff;
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100;
    font-size: 30px;
    line-height: 30px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 35px;
    letter-spacing: -0.025em; }
  /* line 134, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none; }
  /* line 144, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__input:last-of-type {
    margin-bottom: 30px; }
  /* line 147, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__input::-webkit-input-placeholder {
    color: #000;
    font-size: 15px;
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100;
    letter-spacing: -0.025em; }
  /* line 154, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__input::-moz-placeholder {
    color: #000;
    font-size: 15px;
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100;
    letter-spacing: -0.025em; }
  /* line 161, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__input:-moz-placeholder {
    color: #000;
    font-size: 15px;
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100;
    letter-spacing: -0.025em; }
  /* line 168, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__input:-ms-input-placeholder {
    color: #000;
    font-size: 15px;
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100;
    letter-spacing: -0.025em; }
  /* line 175, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__btn {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 48px;
    background: #e83a00;
    border: none;
    outline: none;
    color: #fff;
    padding: 0;
    margin: 0;
    letter-spacing: -0.025em; }
  /* line 193, D:/learn_HTML/projects/Kseniya/fortit/sass/header */
  .request__btn:hover {
    background-color: #ca0202; }

/* line 1, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.wrapActivities {
  background: #fff;
  padding-bottom: 120px; }

/* line 8, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__title {
  font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
  font-weight: 100;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.025em;
  color: #363636;
  padding-top: 130px;
  margin: 0; }
  /* line 17, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
  .activities__title__boldWord {
    font-family: "open_sansbold", "Tahoma", "Geneva", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.025em;
    color: #363636; }
/* line 26, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__keySense {
  font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  color: #919191;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 70px;
  margin: 0; }
/* line 38, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__description {
  position: relative; }
/* line 41, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__bgImg {
  width: 95%; }
/* line 44, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases {
  font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
  color: #606060;
  position: absolute; }
/* line 52, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases--mounting {
  top: 25%;
  left: 80%; }
/* line 56, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases--musicDesign {
  bottom: 3%;
  left: 60%; }
/* line 60, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases--animation {
  top: 40%;
  left: 6%; }
/* line 64, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases--voiceWork {
  top: 58%;
  right: 1%; }
/* line 68, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases--scenes {
  left: 15%;
  top: 73%; }
/* line 72, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases--text {
  left: 52%;
  top: 2%; }
/* line 76, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases--audience {
  left: 0;
  top: 5%; }
/* line 80, D:/learn_HTML/projects/Kseniya/fortit/sass/activities */
.activities__phrases--approval {
  bottom: 2%;
  left: 0;
  font-size: 30px;
  line-height: 40px;
  color: #c4c4c4;
  letter-spacing: -0.035em; }

/* line 1, D:/learn_HTML/projects/Kseniya/fortit/sass/projects */
.wrapProjects {
  background-color: #28343e;
  background-image: url(../img/projects__bg-3.jpg);
  background-repeat: repeat;
  background-position: 0 0; }

/* line 10, D:/learn_HTML/projects/Kseniya/fortit/sass/projects */
.projects__title {
  color: #fff;
  font-family: "open_sansbold", "Tahoma", "Geneva", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.025em;
  padding-top: 130px;
  padding-bottom: 95px;
  margin: 0; }
  /* line 20, D:/learn_HTML/projects/Kseniya/fortit/sass/projects */
  .projects__title__lightWord {
    font-family: "open_sanslight", "Tahoma", "Geneva", sans-serif;
    font-weight: 100; }
/* line 25, D:/learn_HTML/projects/Kseniya/fortit/sass/projects */
.projects__img {
  width: 100%; }
/* line 28, D:/learn_HTML/projects/Kseniya/fortit/sass/projects */
.projects__img:hover {
  outline: 2px solid #fff;
  cursor: pointer; }

/* line 33, D:/learn_HTML/projects/Kseniya/fortit/sass/projects */
.innerPaddingOff {
  padding: 0; }

/* line 1, D:/learn_HTML/projects/Kseniya/fortit/sass/mapFooter */
.wrapMap {
  padding-bottom: 80px; }
